{% extends "base.html" %}


{% block metablocks %}
<meta name="title" content="{{post.title}}" />
<meta name="description" content="{{post.resume}}" />
<meta name="author" content="ranon-rat" />



<meta property="og:type" content="website" />
<meta property="og:title" content="{{post.title}}" />
<meta property="og:description" content="{{post.resume}}" />
<meta property="og:image" content="{{post.image-url}}" />
<meta property="og:url" content="https://ranon-rat.work/blog/posts/{{post.id}}.html" />



<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="post.title" />
<meta name="twitter:description" content="{{post.resume}}" />
<meta name="twitter:image" content="{{post.image-url}}" />



{% endblock %}



{% block stylesheet %}
<link rel="stylesheet" href="posts.css">
{% endblock %}


{% block content %}
<div>
    <script>

        window.addEventListener("DOMContentLoaded", async (e) => {
            const edit = document.getElementById("edit")
            const content = await fetch("/private/test-private").then(r => r.text());
            if (content !== "hey i am here :)") return;
            let params
            let queryArgs = `edit=true&` +
                `id={{post.id}}&`;

            edit.innerHTML = `<a href="/private/post.html?${queryArgs}"> ✎</a> <a href="/private/delete.html?${queryArgs}">⨯</a>`

        })
    </script>
    <h1 id="title-post">{{ post.title }}<a id="edit" href></a></h1>

    <div id="content">
        {% autoescape off %}
        {{ post.parsed-content }}
        {% endautoescape %}
    </div>
</div>
{% endblock %}